[user]
  name = Thomas Heck
  email = t@b128.net

[push]
  default = current

[core]
  excludesfile = ~/.gitignoreglobal
[merge]
	tool = meld

[alias]
	s = status
	a = add
	c = commit
	m = !~/gitmeld.pl
	co = checkout
	rs = reset
	ps = push
	pl = pull
	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

