[user]
  name = Thomas Heck
  email = t@b128.net

[push]
  default = current

[core]
  excludesfile = ~/.gitignoreglobal
	pager = less -x2
[merge]
	tool = meld

[alias]
	s = status
	a = add
	aa = add --all
	c = commit
	ca = commit --amend
	st = stash
	f = fetch
	m = !~/gitmeld
	d = diff
	co = checkout
	rs = reset
	rb = rebase
	ps = push
	pl = pull
	plr = pull --rebase
	sps = svn dcommit
	spl = svn rebase
	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

