[user]
  name = Thomas Heck
  email = t.heck@neonaut.de

[push]
  default = current

[core]
  excludesfile = ~/.gitignoreglobal
[merge]
	tool = meld

[alias]
	s = status
	a = add
	c = commit
	m = !~/gitmeld
	d = diff
	co = checkout
	rs = reset
  rb = rebase
  ps = push
	pl = pull
	sps = svn dcommit
	spl = svn rebase
	hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

