"*":
  "exception-reporting":
    userId: "bb80bd38-6e7f-4be1-4610-113821c155ee"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/home/thomas/ws"
    disabledPackages: [
      "background-tips"
    ]
    audioBeep: false
  editor:
    fontFamily: "Source Code Pro Medium"
    fontSize: 14
    invisibles:
      {}
    softTabs: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
